payload/scrap/*
PSScriptAnalyzerSettings.psd1
.vscode/settings.json
all.txt
.github/
.VSCodeCounter
**/obj/**
**/bin/**
**/output/**
src/core/icons/markdown - Copy*.ico
**/AppPackages/**
**/BundleArtifacts/**
installers - Copy/*
preprocessed.xml
dev/docs/installation-folder-content.txt
dev/docs/stability-issues.md
dot-net-10-reference.txt
dev/docs/solution3.txt
tests/local-file-normalization/
dev/docs/fragment-utils.md
installers/linux-snap/.cache/powershell-7.5.4-linux-arm64.tar.gz
