payload/scrap/*
PSScriptAnalyzerSettings.psd1
.vscode/settings.json
all.txt
.github/
.VSCodeCounter
**/obj/**
**/bin/**
**/output/**
src/core/icons/markdown - Copy*.ico
**/AppPackages/**
**/BundleArtifacts/**
installers - Copy/*
preprocessed.xml
dev/docs/installation-folder-content.txt
dev/docs/stability-issues.md
dot-net-10-reference.txt
dev/docs/solution3.txt
dev/docs/fragment-utils.md
installers/linux-snap/.cache
installers/linux-snap/.craft
installers/linux-snap/staged
installers/linux-snap/parts
installers/linux-snap/prime
installers/linux-snap/stage
installers/macos-dmg/.cache
installers/macos-dmg/dmg/root
installers/macos-dmg/staged
dev/docs/app-contract-and-scrolling-recommendation.md
