payload/scrap/*
PSScriptAnalyzerSettings.psd1
.vscode/settings.json
all.txt
.github/
.VSCodeCounter
**/obj/**
**/bin/**
**/output/**
src/core/icons/markdown - Copy*.ico
**/AppPackages/**
**/BundleArtifacts/**
installers - Copy/*
preprocessed.xml
dev/docs/installation-folder-content.txt
dev/docs/stability-issues.md
